* {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.backgroundStyle {
  background-image: url('/bg6.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  height: 100vh;
}